.App {
    margin: 0 auto;
    position: relative;
    z-index: 0;
}


h1 {
    margin-left: 6rem;
    margin-right: 6rem;
}

hr {
    width: 70rem;
    margin-left: auto;
    margin-right: auto;
}


#Serch-Term-Container {
    display: flex;
    justify-content: center;

}

.serch-term {
  width: 60rem;
  border-radius: 20px;
  border: solid 1.5px rgba(85, 85, 85, 0.205);
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 8px;
  padding-left: 25px;
  outline: none;
}


#Favorite-Recipes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 6rem;
    margin-right: 6rem;
}


#All-Recepts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 6rem;
    margin-right: 6rem;

}


img {
    position: static;
    border-radius: 10px;
    height: 125px;
    width: 213px;
    margin-left: 10px;
    margin-right: 10px;
}


#btn-add {
    display: flex;
    visibility: hidden;
    position: relative;
    background-color: rgba(54, 94, 121, 0.63);
    top: 80px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: none;
}


.card-container {
    width: 100%;
    height: 100%;
}

.card {
    position: relative;
    height: 310px;
    width: 13rem;
    border-radius: 10px;
    margin: 30px 30px 30px 30px;

}


.card :hover {
    background-color: rgba(54, 94, 121);
    color: white;
    border-radius: 10px;
    transition: 0.1s;
}

.card :hover > .btn-abaut{
    background-color: #eb3749;
    border-radius: 6px;
    height: 48px;
    width: 87px;
    transition: 0.2s;

}

.card :hover > #btn-add {
   visibility: visible;
   position: relative;
   display: flex;
   cursor: pointer;
   transition: 0.2s;
}


.btn-abaut {
    position: relative;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    color: white;
    border: none;
    height: 43px;
    width: 80px;
    border-radius: 6px;
    background-color: #eb3749;
   
}

.card-title{
    position: relative;
    text-align: center;
}


.modal-window {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.699);
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}

.modal-img {
   margin: 0 auto;
}

.modal-window.active {
    pointer-events: all;
    visibility: initial;
    opacity: 1;

}

.modal-content {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    width: 50%;
    transform: scale(0.5);
    transition: 0.2s all;
  
}

.modal-content.active {
    transform: scale(1);
}
