#All-Recepts {
    display: flex;
    flex-direction: row;
}
.App {
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 3em;

}
img {
    position: static;
    height: 170px;
    width: 150px;
}

#btn-add {
    display: inline-block;
    position: relative;
    top: 100px;


}

.card-header {
    position: static;
}