.App {
    margin-left: 6em;
    margin-right: 6em;
    margin-top: 3em;
}

#All-Recepts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.card :hover {
    background-color: rgba(54, 94, 121);
    color: white;
    border-radius: 10px;
}

.card :hover > #btn-add{
   visibility: visible;
   position: relative;
   display: flex;
   cursor: pointer;
}

img {
    position: static;
    border-radius: 10px;
    height: 130px;
    width: 213px;
    margin-left: 10px;
    margin-right: 10px;
}

.card-container {
    width: 100%;
}

#btn-add {
    visibility: hidden;
    background-color: rgba(54, 94, 121, 0.63);
    position: relative;
    top: 80px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: none;
}

.card {
    position: relative;
    height: 300pxs;
    width: 13rem;
    border-radius: 10px;
    margin: 30px 30px 30px 30px;

}

.card-title{
    position: relative;
    text-align: center;
}

.btn-about{
    position: relative;
    border: none;
    border-radius: 15px;
    background-color: rgba(54, 94, 121, 0.2);
}
